backcall==0.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
decorator==5.0.7
ibm-cloud-sdk-core==3.9.0
ibm-watson==5.1.0
idna==2.10
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.1
jupyter-client==6.1.12
jupyter-core==4.7.1
matplotlib-inline==0.1.2
nltk==3.6.2
parso==0.8.2
pickleshare==0.7.5
prompt-toolkit==3.0.18
pycparser==2.20
Pygments==2.9.0
PyJWT==2.1.0
python-dateutil==2.8.1
python-dotenv==0.17.1
pywin32==300
pyzmq==22.0.3
regex==2021.4.4
requests==2.25.1
six==1.15.0
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
urllib3==1.26.4
vosk==0.3.27
wcwidth==0.2.5
websocket-client==0.48.0
